<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Registro</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-card *ngIf="!company.enabled">
  <mat-card-title>Inscripción al servicio</mat-card-title>
  <mat-card-subtitle>Ingrese el NIT de la persona natural o jurídica para la que realizaré el trámite, sin incluir el código de verificación. Luego seleccione <b>Continuar</b> para completar la solicitud</mat-card-subtitle>
  <mat-card-content>
    <form>
      <mat-form-field appearance="fill">
        <mat-label>Ingrese un NIT</mat-label>
        <input type="number" matInput placeholder="Ej.: 900674336"
          [(ngModel)]="company.id"
          [formControl]="nitFormControl"
          [errorStateMatcher]="matcher">
        <mat-error *ngIf="nitFormControl.hasError('pattern') && !nitFormControl.hasError('required')">
          Por favor ingrese un número de NIT válido
        </mat-error>
        <mat-error *ngIf="nitFormControl.hasError('required')">
          Este campo es <strong>requerido</strong>
        </mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button type="button" pattern="[0-9]{9,13}" mat-raised-button color="primary" (click)="getCompany()" [disabled]="company.id == '' || company.id == null ? true : null">Continuar</button>
  </mat-card-actions>
</mat-card>

<mat-card *ngIf="company.enabled">
  <mat-card-subtitle>Datos de la persona natural o jurídica que solicita el servicio de tramites virtuales</mat-card-subtitle>
  <mat-card-content>

    <form (ngSubmit)="onSubmit()">
      <section>
        <mat-form-field appearance="fill">
          <mat-label>Tipo de identificación</mat-label>
          <mat-select [(ngModel)]="company.idType" name="idType">
            <mat-option value="NIT">NIT</mat-option>
            <mat-option value="CC">CEDULA DE CIUDADANIA</mat-option>
            <mat-option value="PA">PASAPORTE</mat-option>
            <mat-option value="CD">CARNET DIPLOMATICO</mat-option>
            <mat-option value="SC">SALVACONDUCTO DE PERMANENCIA</mat-option>
            <mat-option value="PE">PERMISO ESPECIAL DE PERMANENCIA</mat-option>
            <mat-option value="CE">CEDULA DE EXTRANJERIA</mat-option>
          </mat-select>
        </mat-form-field>
      </section>
      <section>
        <mat-form-field appearance="fill">
          <mat-label>Identificación</mat-label>
          <input type="number" matInput placeholder="Ej.: 900674336"
            [(ngModel)]="company.id"
            [formControl]="nitFormControl"
            [errorStateMatcher]="matcher">
        </mat-form-field>
      </section>
      <section>
        <mat-form-field appearance="fill" *ngIf="company.idType == 'NIT' || company.idType == 'CE'" class="example-full-width">
          <mat-label>Nombre de la compañía</mat-label>
          <input [(ngModel)]="company.name" type="text" matInput placeholder="Ej.: My Company Corp." name="name">
        </mat-form-field>
      </section>

      <section>
        <mat-form-field *ngIf="company.idType != 'NIT' && company.idType != 'CE'" class="example-full-width">
          <mat-label>Primer nombre</mat-label>
          <input type="text" matInput pattern="[A-Za-z]+" placeholder="Ej.: Carlos." name="firstName"
            [(ngModel)]="company.firstName" required>
            <mat-error *ngIf="alphaFormControl.hasError('required')">
              Este campo es <strong>requerido</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="company.idType != 'NIT' && company.idType != 'CE'" class="example-full-width">
          <mat-label>Segundo nombre</mat-label>
          <input type="text" matInput pattern="[A-Za-z]+" placeholder="Ej.: David." name="secondName"
            [(ngModel)]="company.secondName">
        </mat-form-field>

        <mat-form-field *ngIf="company.idType != 'NIT' && company.idType != 'CE'" class="example-full-width">
          <mat-label>Primer apellido</mat-label>
          <input type="text" matInput pattern="[A-Za-z]+" placeholder="Ej.: Rincón" name="lastName"
            [(ngModel)]="company.lastName" required>
            <mat-error *ngIf="alphaFormControl.hasError('required')">
              Este campo es <strong>requerido</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="company.idType != 'NIT' && company.idType != 'CE'" class="example-full-width">
          <mat-label>Segundo apellido</mat-label>
          <input type="text" pattern="[A-Za-z]+" matInput placeholder="Ej.: Velásquez" name="secondLastName"
            [(ngModel)]="company.secondLastName">
        </mat-form-field>
      </section>


      <section>
          <label id="example-radio-group-label">Autorizo el envío de mensajes al siguiente correo electrónico.</label>
          <mat-radio-group name="mailAval" class="example-radio-group" [(ngModel)]="company.mailAval">
            <mat-radio-button class="example-radio-button" [value]="true">Si</mat-radio-button>
            <mat-radio-button class="example-radio-button" [value]="false">No</mat-radio-button>
          </mat-radio-group>
          <section>
            <mat-form-field>
              <mat-label>Correo electrónico</mat-label>
              <input type="mail" matInput placeholder="Ej.: mail@dominio.com"
                [(ngModel)]="company.email"
                [formControl]="mailFormControl"
                [errorStateMatcher]="matcher">
              <mat-error *ngIf="mailFormControl.hasError('email') && !mailFormControl.hasError('required')">
                Por favor ingrese un correo electrónico válido
              </mat-error>
              <mat-error *ngIf="mailFormControl.hasError('required')">
                Este campo es <strong>requerido</strong>
              </mat-error>
            </mat-form-field>
          </section>
      </section>

      <section>
        <label id="example-radio-group-label">Autorizo el envío de mensajes al teléfono indicado anteriormente.</label>
        <mat-radio-group name="smsAval" class="example-radio-group" [(ngModel)]="company.smsAval">
          <mat-radio-button class="example-radio-button" [value]="true">Si</mat-radio-button>
          <mat-radio-button class="example-radio-button" [value]="false">No</mat-radio-button>
        </mat-radio-group>
      </section>
      <button type="submit" mat-raised-button color="primary">Guardar</button>
    </form>
  </mat-card-content>
</mat-card>

<router-outlet></router-outlet>
